body {
    background-color: #102E44;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

h1 {
    color: #ffc107;
    font-size: 30px;
    font-family: Menlo, Monaco, fixed-width;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    max-width: 150px;
    z-index: 1;
}

.welcome {
    color: white;
    font-size: 24px;
    text-decoration: underline;
    margin-bottom: 0;
    margin-top: 20px;
}

.help-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 20px;
}

.help {
    color: #ffc107;
    font-size: 16px;
    margin-right: 20px;
}

.logout-button {
    background-color: #ffc107;
    color: black;
    border: none;
    padding: 5px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
    margin-top: -20px;
    transition: background-color 0.3s;
}

    .logout-button:hover {
        background-color: #ffe066;
    }

.help a {
    color: #ffc107;
    text-decoration: none;
}

    .help a:hover {
        text-decoration: underline;
    }

.button-container {
    display: flex;
    justify-content: center;
    position: relative;
}

.button-wrapper {
    margin-top: 20px;
    position: relative;
}

.buttons-wrapper {
    background-color: #2539CC;
    border-radius: 30px;
    padding: 20px;
}

.button {
    background-color: #1c224c;
    color: white;
    border: none;
    padding: 75px 60px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s;
    position: relative;
    overflow: hidden;
    text-align: center;
    position: relative;
}

    .button:hover {
        background-color: #102E44;
    }

    .button img {
        position: center;
        max-width: 100%;
        max-height: 100%;
        z-index: 2;
    }

.button-text {
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-input {
    margin-right: 20px;
}

    .search-input label {
        display: block;
        margin-bottom: 5px;
    }

    .search-input input {
        width: 200px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

.search-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block; /* Ensure the button behaves like a block element */
    margin: 20px auto; /* Center the button horizontally */
}

    .search-button:hover {
        background-color: #45a049;
    }

.create-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .create-button:hover {
        background-color: #45a049;
    }
.create-threads-page .search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-threads-page .search-input {
    margin-bottom: 20px;
    width: 100%;
}